[submodule "apps/condor_signage"]
	path = apps/condor_signage
	url = git@github.com:Mercotui/condor_signage.git
[submodule "apps/healthcare_prototype"]
	path = apps/healthcare_prototype
	url = git@github.com:Mercotui/healthcare_prototype.git
