[submodule "apps/condor_signage"]
	path = apps/condor_signage
	url = https://github.com/Mercotui/condor_signage.git
[submodule "apps/healthcare_prototype"]
	path = apps/healthcare_prototype
	url = https://github.com/Mercotui/healthcare_prototype.git
[submodule "apps/qt-installer-package-lister"]
	path = apps/qt-installer-package-lister
	url = https://github.com/Mercotui/qt-installer-package-lister
