body {
    background-color: black;
}

h1 {
	font-family: monospace;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

h2 {
	font-family: monospace;
	font-size: 23px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 23px;
}

h3 {
	font-family: monospace;
	font-size: 17px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 23px;
}

p {
    font-family: 'Roboto', 'Helvetica', sans-serif;
}

ul {
    list-style-type: none;
}

a {
  color: dimgrey;
  text-decoration: none;
}

a:hover {
  color: grey;
}

blockquote {
	font-family: monospace;
	font-size: 17px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
}

.titlebar{
    text-align:center;
    margin: auto;
    margin-top: 1em;
    background-color: lightgray;
    display: block;
    padding: 10em;
    padding-top: 2em;
    padding-bottom: 2em;
    max-width: 50em;
}

.navbar{
    text-align:center;
    margin: auto;
    margin-bottom: 1em;
    background-color: lightgray;
    display: block;
    max-width: 50em;
}

.content{
    margin: auto;
    background-color: lightgray;
    display: block;
    padding: 10em;
    padding-top: 2em;
    padding-bottom: 2em;
    max-width: 50em;
}
