

<meta name="description" content="Home of Menno &quot;Mercotui&quot; van der Graaf">
<!-- Add to homescreen for Chrome on Android -->
<meta name="mobile-web-app-capable" content="yes">
<link rel="icon" sizes="144x144" href="{{ .Site.BaseURL }}/images/favicon.png">
<!-- Add to homescreen for Safari on iOS -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="Home of Menno &quot;Mercotui&quot; van der Graaf">
<link rel="apple-touch-icon-precomposed" href="{{ .Site.BaseURL }}/images/favicon.png">
 <!-- Tile icon for Win8 (144x144 + tile color) -->
<meta name="msapplication-TileImage" content="{{ .Site.BaseURL }}/images/favicon.png">
<meta name="msapplication-TileColor" content="#3372DF">
<!-- Favicon -->
<link rel="shortcut icon" href="{{ .Site.BaseURL }}/images/favicon.png">
