<ul class="navbar">
    <li class="nav {{ if eq (.Param "nav_name") "home"}}nav-active{{ end }}"><a href="{{ .Site.BaseURL }}">Home</a></li>
    <li class="nav-divider">/</li>
    <li class="nav {{ if eq (.Param "nav_name") "apps"}}nav-active{{ end }}"><a href="{{ .Site.BaseURL }}/apps">Apps</a></li>
    <li class="nav-divider">/</li>
    <li class="nav {{ if eq (.Param "nav_name") "potd"}}nav-active{{ end }}"><a href="{{ .Site.BaseURL }}/potd">Photos</a></li>
    <li class="nav-divider">/</li>
    <li class="nav {{ if eq (.Param "nav_name") "about"}}nav-active{{ end }}"><a href="{{ .Site.BaseURL }}/about">About</a></li>

    <!-- <li class="nav"><a href="{{ .Site.BaseURL }}/projects">Projects</a></li>
    <li class="nav-divider"> / </li>
    <li class="nav"><a href="{{ .Site.BaseURL }}/blog">Blog</a></li> -->
</ul>
