{{ $potdscript := resources.Get "potdscript_template.js" | resources.ExecuteAsTemplate "scripts/potd.js" . }}
<script src="{{ $potdscript.Permalink }}" charset="utf-8"></script>

<h2>Picture of the day</h2>
<p>
  By me, Menno van der Graaf
  <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a>
  Randomly selected daily, click <a href="potd">here</a> for more.
</p>

<div class="gallery">
  <a id="potd-random-container">
    <img class="potd-placeholder" id="potd-random"/>
  </a>
</div>
<noscript>
  <p>My random selector script can't be run, have this cat instead:</p>
  <img class="potd" src="{{ .Site.BaseURL }}/potd/2019/velperpoort_cat.jpg" alt="A cat at Velperpoort train station" onclick="modal()">
</noscript>
