{{ define "extra_header"}}
  <script src="/scripts/baguetteBox.min.js" charset="utf-8"></script>
  <script src="/scripts/potd.js" charset="utf-8"></script>

  <link rel="stylesheet" href="/styles/baguetteBox.min.css">
{{ end }}

{{ define "main" }}
  <h2>Picture of the day</h2>
  <p>
    By me, Menno van der Graaf
    <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a>
    Randomly selected daily, click <a href="potd">here</a> for more.
  </p>

  <div class="gallery">
    <a id="potd-random-container">
      <img class="potd-placeholder" id="potd-random"></img>
    </a>
  </div>
  <noscript>
    <p>My random selector script can't be run, have this cat instead:</p>
    <img class="potd" src="{{ .Site.BaseURL }}/potd/velperpoort_cat.jpg" alt="A cat at Velperpoort train station" onclick="modal()">
  </noscript>

  <h2>About</h2>
  <p>
      I'm an Embedded Software Engineer from the Netherlands,
      living in Berlin.
  </p>
  <h2>Contact me at:</h2>
  <div class="email-adress">
      <a href="mailto:mennovandergraaf@hotmail.com?SUBJECT=Hi">
          <i class="fa fa-envelope" aria-hidden="true"></i>
          mennovandergraaf@hotmail.com
      </a>
  </div>
  <div>
      <h3>Professional:</h3>
      <ul>
          <li>
              <a href="https://github.com/Mercotui" target="_blank">
                  <i class="fa fa-github" aria-hidden="true"></i>
                  Github
              </a>
          </li>
          <li >
              <a href="https://keybase.io/mercotui" target="_blank">
                  <i class="fa fa-key" aria-hidden="true"></i>
                  Keybase
              </a>
          </li>
          <li>
              <a href="https://www.linkedin.com/in/menno-van-der-graaf-13138490" target="_blank">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                  LinkedIn
              </a>
          </li>
      </ul>
  </div>
  <div>
      <h3>Personal:</h3>
      <ul>
          <li>
              <a href="https://www.instagram.com/mercotui/" target="_blank">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                  Instagram
              </a>
          </li>
          <li>
              <a href="https://steamcommunity.com/id/mercotui" target="_blank">
                  <i class="fa fa-steam" aria-hidden="true"></i>
                  Steam
              </a>
          </li>
          <li>
              <a href="http://www.last.fm/user/mercotui" target="_blank">
                  <i class="fa fa-lastfm" aria-hidden="true"></i>
                  LastFM
              </a>
          </li>
      </ul>
  </div>
{{ end }}
