{{ define "extra_header"}}
  <script src="/scripts/baguetteBox.min.js" charset="utf-8"></script>
  <link rel="stylesheet" href="/styles/baguetteBox.min.css">
{{ end }}

{{ define "main" }}
  {{ partial "potd" . }}

  <h2>About</h2>
  <p>
      I'm an Embedded Software Engineer from the Netherlands,
      living in Berlin.
  </p>
  <h2>Contact me at:</h2>
  <div class="email-adress">
      <a href="mailto:mennovandergraaf@hotmail.com?SUBJECT=Hi">
          <i class="fa fa-envelope" aria-hidden="true"></i>
          mennovandergraaf@hotmail.com
      </a>
  </div>
  <div>
      <h3>Professional:</h3>
      <ul>
          <li>
              <a href="https://github.com/Mercotui" target="_blank">
                  <i class="fa fa-github" aria-hidden="true"></i>
                  Github
              </a>
          </li>
          <li >
              <a href="https://keybase.io/mercotui" target="_blank">
                  <i class="fa fa-key" aria-hidden="true"></i>
                  Keybase
              </a>
          </li>
          <li>
              <a href="https://www.linkedin.com/in/menno-van-der-graaf-13138490" target="_blank">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                  LinkedIn
              </a>
          </li>
      </ul>
  </div>
  <div>
      <h3>Personal:</h3>
      <ul>
          <li>
              <a href="https://www.instagram.com/mercotui/" target="_blank">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                  Instagram
              </a>
          </li>
          <li>
              <a href="https://steamcommunity.com/id/mercotui" target="_blank">
                  <i class="fa fa-steam" aria-hidden="true"></i>
                  Steam
              </a>
          </li>
          <li>
              <a href="https://www.last.fm/user/mercotui" target="_blank">
                  <i class="fa fa-lastfm" aria-hidden="true"></i>
                  LastFM
              </a>
          </li>
      </ul>
  </div>
{{ end }}
