html, body {
  /* ensure that all of the viewport is used */
  width: 100%;
  height: 100%;
  /* ensure that no scrollbars appear */
  margin: 0;
  padding: 0;

  /* center SVG horizontally and vertically */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  background-color:#000;
  user-select: none;
}

#content {
  width: 62vmin; /* golden blablabla */
  height: 100vmin;
  position: relative;

  background-color:#080B0C;
  overflow: hidden;
  z-index: 0;
}

.inner {
  position: absolute;
}

.greetings {
  font-family: 'Patrick Hand SC', cursive;
  text-align: center;
  width: 100%;
  font-size: 7vmin;
  color: #AD7C1C;
  margin: auto;
  z-index: 9;
}

/* LAYERS */

#back_light {
  width: 100%;
  height: 100%;
  background: linear-gradient(#323269, #0C1E43, #010307);
  z-index: 1;
  opacity: 0;
}

#snow_canvas {
  margin: 0 auto;
  height: 60%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

#tower {
  margin: 0 auto;
  height: 61%; /* 1% extra to fill pixel gaps */
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

#ground {
  margin: 0 auto;
  bottom: 0;
  left: 0;
  right: 0;
  height: 41%;
  width: 100%;
  z-index: 3;
  background: black;
}

#bridge {
  margin: 0 auto;
  bottom: 20%;
  left: 0;
  right: 0;
  height: 10%;
  width: 100%;
  z-index: 5;
  color: "red";
}

#water_canvas {
  margin: 0 auto;
  bottom: 0;
  left: 0;
  right: 0;
  height: 41%;
  width: 100%;
  z-index: 6;
}
