/* SPDX-FileCopyrightText: 2025 Menno van der Graaf <mennovandergraaf@hotmail.com> */
/* SPDX-License-Identifier: MIT */

.image-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
}

.image-list-item {
    height: 30vh;
    flex-grow: 1;
}

.image-list-thumbnail {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
}
