<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Home of Menno &quot;Mercotui&quot; van der Graaf">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Mercotui</title>

        <!-- Add to homescreen for Chrome on Android -->
        <meta name="mobile-web-app-capable" content="yes">
        <link rel="icon" sizes="144x144" href="{{ site.github.url }}/assets/favicon.png">
        <!-- Add to homescreen for Safari on iOS -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="Home of Menno &quot;Mercotui&quot; van der Graaf">
        <link rel="apple-touch-icon-precomposed" href="{{ site.github.url }}/assets/favicon.png">
         <!-- Tile icon for Win8 (144x144 + tile color) -->
        <meta name="msapplication-TileImage" content="{{ site.github.url }}/assets/favicon.png">
        <meta name="msapplication-TileColor" content="#3372DF">
        <!-- Favicon -->
        <link rel="shortcut icon" href="{{ site.github.url }}/assets/favicon.png">

        <link rel="stylesheet" href="{{ site.github.url }}/assets/styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="titlebar">
            <h1>Menno van der Graaf / Mercotui</h1>
            <ul class="navbar">
              <li class="nav"><a href="{{ site.github.url }}/index.html">Home</a></li>
              /
              <li class="nav"><a href="{{ site.github.url }}/projects.html">Projects</a></li>
              /
              <li class="nav"><a href="{{ site.github.url }}/blog.html">Blog</a></li>
            </ul>
        </div>
        <div class="content">
            {{ content }}
        </div>
      <script>
          var image = "{{ site.github.url }}/assets/background_" + Math.floor(Math.random() * 3) + ".png"
          document.getElementsByTagName("body")[0].style.backgroundImage = "url('"+ image +"')";
      </script>
  </body>
</html>
