name: Publish Site

on:
  push:
    branches:
      - devel

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@master
      - name: Deploy the site
        uses: benmatselby/hugo-deploy-gh-pages@main
        env:
          TARGET_REPO: mercotui/mercotui.github.io
          TARGET_BRANCH: master
          TOKEN: ${{ secrets.GITHUB_TOKEN }}
